<div *ngIf="transactions_all.length > 10" class="pagination_custom">

  <div *ngIf="prev_step_pages" class="orange-angle left-angle" (click)="previousButtonFunction()">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
  </div>
  <div *ngIf="!prev_step_pages" class="left-angle" style="cursor: default"> </div>

  <div id="page_1" class="pagination_item page_active" (click)="firstButtonFunction()">{{page_1}}</div>

  <span *ngIf="(page_current - page_1)>1">...</span>

  <div id="page_current" *ngIf="pages > 2" class="pagination_item" style="cursor: default"
       (click)="currentButtonFunction()">{{page_current}}</div>

  <span *ngIf="(page_last - page_current)>1">...</span>

  <div id="page_last" *ngIf="pages > 1" class="pagination_item" (click)="lastButtonFunction()">{{page_last}}</div>

  <div *ngIf="next_step_pages > 0" class="orange-angle right-angle" (click)="nextButtonFunction()">
    <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
  </div>
  <div *ngIf="!(next_step_pages > 0)" class="right-angle" style="cursor: default"> </div>
</div>
