@import "../../../../../assets/sass/variables";

.consult-sold {
  &__wrapper {
    padding: 0 !important;
    font-size: 1.4rem;
    color: $mainText;
    background-color: #fff;
    margin-bottom: 60px;
  }
  &__header {
    color: $mainText;
    font-size: 1.4rem;
    font-family: $sf;
    padding: 17px 21px 3px 21px;
    border-bottom: 2px solid $lightGrayBg;
  }
  .accordionItemHeading {
    justify-content: flex-start;
  }
  .accordionItem.close-item {
    max-height: 65px;
  }
  .accordionItemHeading {
    height: 65px;
    line-height: 65px;
  }
}

.consult-sold-history {
  margin-bottom: 60px;
  .wrapper {
    padding: 0;
    background-color: #fff;
  }
  &__user {
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $lightGrayBg;
    font-family: $raleSM;
    font-size: 1.4rem;
    color: $mainText;
    > div {
      display: flex;
      align-items: center;
    }
    .logo {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-right: 15px;
    }
  }
  .balance {
    color: #2c2c2c;
    font-size: 1.4rem;
    font-family: $raleM;
    b {
      color: #0095fd;
      font-family: $sf;
      font-size: 1.8rem;
      padding-right: 10px;
    }
  }
  .card-data {
    display: flex;
    span {
      color: #aaaaaa;
      height: 20px;
      font-size: 1.4rem;
      font-family: $raleM;
      padding-right: 10px;
      &:not(:last-child) {
        line-height: 30px;
      }
    }
  }
  .little-title.history {
    color: #8a8a8a;
    border-bottom: 1px solid $lightGrayBg;
  }
  .history-item {
    margin-left: 20px;
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid $lightGrayBg;
    font-family: $sf;
    font-size: 1.2rem;
    color: #3f3f3f;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .balance {
      b {
        color: #ec964a;
        padding-right: 5px;
      }
    }
  }
}

.accordionItem {
  background-color: #f7f7ff;
  i {
    display: none;
  }
  &.open,
  &:hover {
    background-color: #fff;
    i {
      display: block;
    }
  }
}

.accordionWrapper .accordionItemHeading {
  border-bottom: none;
}

.left-angle {
  margin-top: 0;
  i {
    padding: 0 12px;
  }
}
