@import "../../../../../assets/sass/variables";

table {
  td{
    padding: 0.25rem;
    padding-bottom: 0;
    padding-top: 0;

    .pass-forget {
      right: 16px;
      line-height: 36px;
    }
    .floating-block .floating-input input {
      padding-right: 4px !important;
    }
    input {
      padding-right: 4px !important;
    }
  }
}

@media (max-width: 800px){
  table{
    min-width: 700px !important;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  #findInputField{
    position: fixed;
    width: 100%;
    left: 0;
    height: 44px !important;
    min-height: 44px !important;
    top: 83px !important;
    z-index: 101;
    text-align: center !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block !important;
  }
  table{
    margin-top: 38px;
    .floating-block .floating-input input {
      border-bottom: 0;
      font-size: 14px !important;
    }
    .floating-block.border-hover .floating-input input:not(:focus):valid {
      border-bottom: 2px solid #e98120;
      transition: .3s ease all;
    }
  }
}
@media (max-width: 576px){
  #findInputField{
    top: 38px !important;
    height: 44px !important;
    min-height: 44px !important;
    font-size: 16px !important;
  }
  table{
    margin-top: 38px;
    .floating-block .floating-input input {
      border-bottom: 0;
      font-size: 15px !important;
    }
    .floating-block.border-hover .floating-input input:not(:focus):valid {
      border-bottom: 2px solid #e98120;
      transition: .3s ease all;
    }
  }
}
