@import "../../../../../assets/sass/variables";

table {
  td{
    padding: 0.25rem;
    padding-bottom: 0;
    padding-top: 0;

    .pass-forget {
      right: 16px;
      line-height: 36px;
    }
    .floating-block .floating-input input {
      padding-right: 4px !important;
    }
    input {
      padding-right: 4px !important;
    }
  }
}

@media (max-width: 800px){
  table{
    min-width: 700px !important;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
