<main class="gray-bg-citizen coin-bg">
  <section class="paiements">
    <div class="container">
      <h3> Paiements de masses reçus (XW2W)</h3>
      <div class="row">
        <div class="col-sm-8 col-md-4 ml-auto  mr-auto">
          <div class="paiements__wrapper">
            <div class="paiements__header">
              <div>Contract <span>BD012345678910</span></div>
              <div class="blue-angle">Chose</div>
            </div>
            <div class="paiements__item">
              <div>
                <span>Receiver: <span class="name">Clark Kent</span></span>
                <span class="lesion">-88.49<span class="curr">USD</span></span>
              </div>
              <div>
                <span>11.12.2017</span>
                <span>11:12</span>
              </div>
            </div>
            <div class="paiements__item">
              <div>
                <span>Receiver: <span class="name">Clark Kent</span></span>
                <span class="profit">+123.49<span class="curr">USD</span></span>
              </div>
              <div>
                <span>11.12.2017</span>
                <span>11:12</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
