<div class="compte_finder">
  <h3 class="top-header">
    <div class="back-button" [routerLink]="['/' +userRole+ '/services']">Back</div>
    <!--<div class="back-button" [routerLink]="['/client/services']">Back</div>-->
    Insert customer’s information
  </h3>
  <div class="content">
    <h4>Select a contract of the connected customer</h4>
    <div class="floating-block border-hover">
      <div class="floating-input" >
        <select name="select_contracts"
                [(ngModel)]="contract_fromSelect2"  (change)="_chooseContractFunction(contract_fromSelect2)" id="select_contracts">
          <option *ngFor="let contract of _contractsForSelect2" [value]="contract.text">
            {{contract.text}}
          </option>
        </select>
      </div>
    </div>

  </div>
  <div class="content">
    <div *ngIf="errorMessage_contract" class="errorTextClass">
      {{errorMessage_contract}}
    </div>
  </div>
</div>
