<swiper class="swiper" [config]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-slide__content">
                <img src="../../../../assets/img/intro1.png" alt="Fast cash transactions">
                <h3>Fast cash transactions</h3>
                <div>Lorem ipsum dolor sit amet,
                    consectetur adipiscing tempor
                    incididunt ut labore aliqua.
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide__content">
                <img src="../../../../assets/img/intro2.png" alt="200% safe with us">
                <h3>200% safe with us</h3>
                <div>Lorem ipsum dolor sit amet,
                    consectetur adipiscing tempor
                    incididunt ut labore aliqua.
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide__content">
                <img src="../../../../assets/img/intro3.png" alt="Always with you">
                <h3>Always with you</h3>
                <div>Lorem ipsum dolor sit amet,
                    consectetur adipiscing tempor
                    incididunt ut labore aliqua.
                </div>
            </div>
            <div class="blue-button orange-button" (click)="setSliderVisibility()">I've got it</div>
        </div>
    </div>
    <div class="swiper-pagination"><div class="swiper-pagination-bullet"></div></div>
</swiper>
