
<app-header-general></app-header-general>


<main [ngClass]="loggedin ? 'non-auth-main' : ''">
  <div class="only-desktop">
    <section class="page-title not-mobile">
      <div class="container">
        <div class="row">
          <h2>Authorisation</h2>
        </div>
      </div>
    </section>
    <app-authorisation-page [authorisation]="authorisation"></app-authorisation-page>
  </div>

  <div *ngIf="!show_slider" class="only-mobile">
    <section class="page-title not-mobile">
      <div class="container">
        <div class="row">
          <h2>Authorisation</h2>
        </div>
      </div>
    </section>
    <app-authorisation-page [authorisation]="authorisation"></app-authorisation-page>
  </div>

  <div *ngIf="show_slider" class="only-mobile">
    <app-slider (showSlider)="setSliderVisibility($event)"></app-slider>
  </div>

</main>
