@import "../../../../assets/sass/_variables.scss";


.authorisation-page {
  text-align: center;
  /* Caption in style.scss*/
  .blue-button {
    max-width: 360px;
    width: 100%;
    margin-top: 12px;
  }
}

@media (max-width: 800px) {
  .authorisation-page {
    .blue-button {
      margin-top: 8px;
      max-width: 100%;
    }
  }
}

@media (max-width: 410px) {
  .authorisation-page {
    .blue-button {
      margin-top: 8px;
    }
  }
}