@import "../../../../assets/sass/_variables.scss";


.authorisation-page {
  text-align: center;
  /* Caption in style.scss*/
  .blue-button {
    max-width: 360px;
    width: 100%;
    margin-top: 12px;
  }
}

@media (max-width: 800px) {
  .authorisation-page {
    background-color: #f1f1f3;
    &:before {
      content: '';
      width: 100%;
      height: 500px;
      display: block;
      background-repeat: no-repeat;
      background-image: url("../../../../assets/img/splash.png");
      background-position: center 42%;
      background-size: 100%;
    }
    .blue-button {
      margin-top: 8px;
      max-width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .authorisation-page {
    &:before {
      height: 250px;
    }
  }
}

@media (max-width: 410px) {
  .authorisation-page {
    .blue-button {
      margin-top: 8px;
    }
  }
}