
<app-header-general></app-header-general>


<main>
  <section class="page-title">
    <div class="container">
      <div class="row">
        <h2>Authorisation</h2>
      </div>
    </div>
  </section>
  <section class="authorisation-page">
    <div class="container">
      <div class="row">
        <div class="col authorisation-page__caption">
          Not a user yet?
          <a href="javascript:void(0);" [routerLink]="['/create-account']">Registration</a>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-9 ml-md-auto mr-md-auto">
          <form>
            <div class="floating-block phone">
              <div class="floating-icon"></div>
              <div class="floating-input">
                <input type="tel" required>
                <div class="floating-label">Phone number</div>
              </div>
            </div>
            <div class="floating-block pass">
              <div class="floating-icon"></div>
              <div class="floating-input">
                <input type="password" required>
                <div class="floating-label">Password</div>
              </div>
              <div class="pass-forget">I forgot my password</div>
            </div>
            <button class="orange-button blue-button" (click)="loginFunction()" [routerLink]="['/profile']">Log In</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col authorisation-page__caption">
          Also you can create account using  <a href="javascript:void(0);">Facebook</a>
        </div>
      </div>
    </div>
  </section>
</main>
