<div *ngIf='true' class="menu-for-delete">
    <!--<button [routerLink]="['/agent/services']" style='margin-right: 8px;'>agent</button><br>-->
    <!--<button [routerLink]="['/citizen/services']">citizen</button><br>-->
    <!--<button [routerLink]="['/client/services']">client</button><br><br>-->

  <p>
    <button (click)='showLS()'> LS</button>
    <button (click)='clearLS()'>clear LS</button>
  </p>
  <!--<p>-->
    <!--<button (click)='showSS()'> SS</button>-->
    <!--<button (click)='clearSS()'>clear SS</button>-->
  <!--</p>-->

</div>
