<!--<p>-->
  <!--user-menu works!-->
<!--</p>-->


<div class="row toolbar">
  <div class="col-md-10 ml-md-auto mr-md-auto">
    <a href="" class="sprite-icon-services"><span class="sprite"></span><span>Services</span></a>
    <a href="" class="sprite-icon-notif"><span class="sprite"></span><span>Notifications</span></a>
    <a href="" class="sprite-icon-operation"><span class="sprite"></span><span>Operations</span></a>
    <a href="" class="sprite-icon-param"><span class="sprite"></span><span>Parameters</span></a>
    <a href="" class="sprite-icon-user"><span class="sprite"></span><span>Settings</span></a>
  </div>
</div>
