<form #agent_envoyeurDataId="ngForm" novalidate>
  <div class="content" style="padding-bottom: 0">
    <h3 style="margin-top: 16px">Firstname</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (ngModelChange)="sendData()"
               #firstName="ngModel" id="firstName" name='firstName' required [(ngModel)]="envoyeur.nom"/>
        <div class="clean-input" (click)="clearEnvoyeur('nom')"></div>
      </div>
    </div>
    <h3>Lastname</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (ngModelChange)="sendData()"
               #lastName="ngModel" id="lastName" name='lastName' required [(ngModel)]="envoyeur.prenom" />
        <div class="clean-input" (click)="clearEnvoyeur('prenom')"></div>
      </div>
    </div>
    <h3>Cellulaire</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (ngModelChange)="sendData()"
               #id_telephone="ngModel" id="id_telephone" name='id_telephone' required [(ngModel)]="envoyeur.cellulaire" />
        <div class="clean-input" (click)="clearEnvoyeur('cellulaire')"></div>
      </div>
    </div>
    <h3>ID type</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
          <select name="id_type" id="id_type" #id_type="ngModel" (change)="setDocumentType(select_id_type_active)"
                  [(ngModel)]="select_id_type_active">
            <option *ngFor="let document of select_id_type_values" [ngValue]="document.type">
              {{document.type}}
            </option>
          </select>
      </div>
    </div>
    <h3>NUMERO</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (ngModelChange)="sendData()"
               #id_valeur="ngModel" id="id_valeur" name='id_valeur' required [(ngModel)]="envoyeur.id_valeur" />
        <div class="clean-input" (click)="clearEnvoyeur('id_valeur')"></div>
      </div>
    </div>
    <h3>DATE DELIVRANCE</h3>
    <div class="floating-block border-hover">
      <div class="floating-input" style="font-size: 24px !important;">
        <input readonly class="form-control" placeholder="yyyy-mm-dd" (click)="dpExpiration.close(); dpDebut.toggle()"
               (ngModelChange)="transformDataToString($event, 'dpDebut')"
               style="background-color: #fff"
               [minDate]="minDate"
               name="dpDebut" [(ngModel)]="datepickerDebut" ngbDatepicker #dpDebut="ngbDatepicker">
        <div class="clean-input" (click)="clearDP('dpDebut')"></div>
      </div>
    </div>
    <h3>DATE EXPIRATION</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input readonly class="form-control" placeholder="yyyy-mm-dd" (click)="dpDebut.close(); dpExpiration.toggle()"
               (ngModelChange)="transformDataToString($event, 'dpExpiration')"
               style="background-color: #fff"
               [minDate]="minDate" [maxDate]="maxDate"
               name="dpExpiration" [(ngModel)]="datepickerExpiration" ngbDatepicker #dpExpiration="ngbDatepicker">
        <div class="clean-input" (click)="clearDP('dpExpiration')"></div>
      </div>
    </div>
  </div>
</form>
