@import "../../../../../assets/sass/variables";


.content {
  //padding: 18px;
  &.search {
    padding: 0;
  }
  h3 {
    text-align: left;
    font-size: 1.6rem;
    font-family: $raleSM;
    padding: 0;
  }
  .floating-block input {
    padding-left: 0;
    height: 40px;
    min-height: 40px;
  }
  select{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    padding-left: 0;
    font-family: "RalewayRegular", sans-serif;
    font-size: 1.4rem;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    border: none;
    border-bottom: 2px solid #e98120;
  }
}

@media (max-width: 800px) {
  .content {
    h3 {
      font-size: 20px;
    }
  }
}

@media (max-width: 576px) {
  .content {
    h3 {
      font-size: 14px;
    }
  }
}
