@import "../../../../../assets/sass/variables";


.content {
  //padding: 18px;
  &.search {
    padding: 0;
  }
  h3 {
    text-align: left;
    font-size: 1.6rem;
    font-family: $raleSM;
    padding: 0;
  }
  .floating-block input {
    padding-left: 0;
    height: 40px;
    min-height: 40px;
  }
  select{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    padding-left: 0;
    font-family: "RalewayRegular", sans-serif;
    font-size: 1.4rem;
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    border: none;
    border-bottom: 2px solid #e98120;
  }
}

@media (max-width: 800px) {
  .content {
    h3 {
      font-size: 20px;
    }
  }
  ngb-datepicker.d-inline-block.rounded.dropdown-menu{
    //margin-bottom: 10px!important;
  }
  .ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number {
    width: 4rem !important;
    height: 3.5rem !important;
    padding: 8px 0 0 10px !important;
    font-size: 18px !important;
  }
  ngb-datepicker-navigation {
    height: 4rem !important;
    line-height: 4rem !important;
    font-size: 22px !important;
  }
  div.ngb-dp-header.bg-faded.pt-1.rounded-top{
    height: 8rem !important;
    margin-bottom: -3.7rem !important;
  }
  ngb-datepicker-navigation-select {
    font-size: 22px !important;
    width: 20rem !important;
  }
  ngb-datepicker-navigation-select select.custom-select.d-inline-block{
    line-height: 3rem !important;
    font-size: 16px !important;
  }
  div.btn-secondary.text-muted.outside {
    opacity: 1 !important;
  }
}

@media (max-width: 576px) {
  .content {
    h3 {
      font-size: 14px;
    }
  }
  ngb-datepicker.d-inline-block.rounded.dropdown-menu{
    //margin-bottom: 10px!important;
  }
  .ngb-dp-day, .ngb-dp-weekday, .ngb-dp-week-number {
    width: 4rem !important;
    height: 3.5rem !important;
    padding: 8px 0 0 10px !important;
    font-size: 18px !important;
  }
  ngb-datepicker-navigation {
    height: 4rem !important;
    line-height: 4rem !important;
    font-size: 22px !important;
  }
  div.ngb-dp-header.bg-faded.pt-1.rounded-top{
    height: 8rem !important;
    margin-bottom: -3.7rem !important;
  }
  ngb-datepicker-navigation-select {
    font-size: 22px !important;
    width: 20rem !important;
  }
  ngb-datepicker-navigation-select select.custom-select.d-inline-block{
    line-height: 3rem !important;
    font-size: 16px !important;
  }
  div.btn-secondary.text-muted.outside {
    opacity: 1 !important;
  }
}
