@import "../../../../../assets/sass/variables";

.retrail-code {
  .row {
    justify-content: center;
    > div {
      padding: 0;
      &:first-child + div {
        background-color: #fff;
        &:after {
          top: 0;
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          background-color: $line;
        }
      }
    }
  }
  &__header {
    background-color: #fff;
    color: #414141;
    font-size: 1.4rem;
    font-family: $sf;
    padding: 15px 0 10px 20px;
    border-bottom: 1px solid $line;
  }
  &__content {
    background-color: #fff;
    padding: 15px 20px;
    &.info {
      padding: 0 20px;
    }
    h3 {
      color: #414141;
      font-size: 1.6rem;
      font-family: $raleSM;
      padding: 0;
      text-align: left;
    }
    .caption {
      color: #fe2323;
      font-size: 1.4rem;
      font-family: $raleM;
      padding: 15px 0;
      position: absolute;
    }
    input {
      color: #414141;
      font-size: 1.8rem;
      font-family: $sfL;
      height: 40px;
      min-height: 40px;
      padding-left: 0;
    }
    .border-hover.validly {
      position: relative;
      .floating-input:before {
        color: #fff;
        text-align: center;
        line-height: 18px;
        background-color: #00c975;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        content: '\f00c';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      input {
        border-bottom: 2px solid #00c975;
      }
      .caption {
        display: none;
      }
    }
    .blue-button {
      min-height: 55px;
      height: 55px;
      line-height: 55px;
      width: 100%;
      margin-top: 16px;
    }
    .info-item {
      margin: 15px 0 0 0;
      font-size: 1.8rem;
      border-bottom: 1px solid $line;
      position: relative;
      line-height: 24px;
      padding-bottom: 14px;
      &:last-child {
        border-bottom: none;
      }
      b {
        display: block;
        font-family: $raleSM;
      }
      .code {
        position: absolute;
        right: 0;
        top: 0;
        color: #4ba0ff;
        font-size: 1.8rem;
        font-family: $sfL;
      }
    }
  }
}

@media (max-width: 576px) {
  .retrail-code__content {
    .info-item {
      margin: 10px 0 0 0;
      font-size: 1.4rem;
      line-height: 16px;
      padding-bottom: 10px;
      .code {
        font-size: 15px;
      }
    }
  }
}
