<main class="gray-bg-citizen coin-bg">
  <section class="consult-sold">
    <h3 class="top-header">
      <div class="back-button" [routerLink]="['/' +userRole+ '/services']">Back</div>
      Panel Notifications
    </h3>
    <div class="container">
      <div *ngIf="errorMessage" class="errorTextClass" >{{errorMessage}}</div>
      <p *ngIf="!errorMessage" style="margin: 0; text-align: center; height: 17.5px">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </p>

      <div *ngIf="notifications && (notifications.length > 0)" class="table-responsive">
        <!--<div class="floating-block border-hover">-->
          <!--<div class="floating-input">-->
            <!--<input class="form-control" id="findInputField" type="text" style="width: 100%; height: 40px"-->
                   <!--[(ngModel)]="numTel_fromSelect2" (ngModelChange)="findCitizen()" />-->
          <!--</div>-->
        <!--</div>-->
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="text-center">№</th>
            <th class="text-center">Date/Time</th>
            <th class="text-center">Text</th>
            <th class="text-center">status</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notif of notifications; let i='index'">
              <td class="text-center" style="vertical-align: middle"><span>{{i+1}}</span></td>
              <td class="text-center" style="vertical-align: middle; min-width: 60px; max-width: 120px">
                <span class="errorTextClass">date, time</span>
              </td>
              <td class="text-center" style="min-width: 80px">
                <div class="floating-block border-hover" style="margin-bottom:0">
                  <div class="floating-input">
                    <div [ngClass]="{'non-lu': !isShown(notif.lu)}">
                      {{notif.libelle}}
                    </div>
                  </div>
                </div>
              </td>
              <td class="text-center" style="vertical-align: middle">
                <span>{{notif.lu}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</main>
