@import "../../../../assets/sass/variables";
.non-lu{
  font-weight: 800;
  color: black !important;
  cursor: pointer;
}
.lu{
  font-weight: normal;
  cursor: initial;
}
@media (max-width: 576px){
  .floating-input div {
    padding: 16px 10px 0 10px;
  }
}
