<main class="gray-bg-citizen coin-bg">
  <section class="consult-sold">
    <h3 class="top-header">
      <div class="back-button" [routerLink]="['/' +userRole+ '/services']">Back</div>
      Panel Notifications
    </h3>
    <div class="container">

      <div class="accordionWrapper">
        <div class="accordionItem open"
             (click)="commonServices.accordionToggleNotifFunction($event); $event.stopPropagation();
                      loadNonLuNotificationsFunction(this.userDataService.getMyAccounts()['0'].uoId)">
          <div class="consult-user accordionItemHeading">
            <div style="line-height: 25px">
              <div style="line-height: 19px">{{buttons_notification['0'].caption}}</div>
            </div>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
        </div>
        <div class="accordionItem close-item"
             (click)="commonServices.accordionToggleNotifFunction($event); $event.stopPropagation();
                      loadLuNotificationsFunction(this.userDataService.getMyAccounts()['0'].uoId)">
          <div class="consult-user accordionItemHeading">
            <div style="line-height: 25px">
              <div style="line-height: 19px">{{buttons_notification['1'].caption}}</div>
            </div>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
        </div>
        <div class="accordionItem close-item"
             (click)="commonServices.accordionToggleNotifFunction($event); $event.stopPropagation();
                      loadAllNotificationsFunction(this.userDataService.getMyAccounts()['0'].uoId)">
          <div class="consult-user accordionItemHeading">
            <div style="line-height: 25px">
              <div style="line-height: 19px">{{buttons_notification['2'].caption}}</div>
            </div>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage" class="errorTextClass" >{{errorMessage}}</div>
      <p *ngIf="!errorMessage" style="margin: 0; text-align: center; height: 17.5px">
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </p>

      <div *ngIf="notifications && (notifications.length > 0)" class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="text-center">№</th>
            <th class="text-center">Date/Time</th>
            <th class="text-center">Text</th>
            <!--<th class="text-center">status</th>-->
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notif of notifications; let i='index'"
                id="{{notif.id}}"
                (click)="markNotificationAsLu(notif.id)"
                [ngClass]="{'non-lu': isNonLu(notif.lu)}">
              <td class="text-center" style="vertical-align: middle !important"><span>{{i+1}}</span></td>
              <td class="text-center" style="vertical-align: middle !important; min-width: 60px; max-width: 120px">
                <span class="errorTextClass">date, time</span>
              </td>
              <td class="text-center" style="min-width: 80px; vertical-align: middle !important">
                <div class="floating-block border-hover" style="margin-bottom:0">
                  <div class="floating-input">
                    <div>
                      {{notif.libelle}}
                    </div>
                  </div>
                </div>
              </td>
              <!--<td class="text-center" style="vertical-align: middle">-->
                <!--<span>{{notif.lu}}</span>-->
              <!--</td>-->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

</main>
