@import "../../../../assets/sass/_variables.scss";


.registration-page {
  text-align: center;
  .pass-caption {
    color: $content;
    font-size: 1.4rem;
    font-family: $raleR;
    text-align: center;
  }
  .blue-button {
    max-width: 360px;
    width: 100%;
  }
  form {
    padding: 40px 0;
  }
  .profile-type {
    color: $content;
    font-size: 1.4rem;
    font-family: $raleM;
    padding: 25px 0;
    span {
      color: $blue;
    }
  }
}