<main>
  <section class="page-title">
    <div class="container">
      <div class="row">
        <h2>Registration</h2>
      </div>
    </div>
  </section>
  <section class="registration-page">
    <div class="container">
      <div class="row">
        <div class="col col-md-9 ml-md-auto mr-md-auto">
          <form>
            <div class="wrapper-half-input">
              <div class="floating-block border-hover user">
                <div class="floating-icon"></div>
                <div class="floating-input">
                  <input type="text" name="firstName" id="firstName" placeholder="First name" required>
                  <div class="clean-input" onclick="firstName.value = ''"></div>
                </div>
              </div>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" name="lastName" id="lastName" placeholder="Last name" required>
                  <div class="clean-input" onclick="lastName.value = ''"></div>
                </div>
              </div>
            </div>
            <div class="floating-block border-hover phone">
              <div class="floating-icon"></div>
              <div class="floating-input">
                <input type="text" name="phone" id="phone" placeholder="Phone number" required>
                <div class="clean-input" onclick="phone.value = ''"></div>
              </div>
            </div>
            <div class="floating-block border-hover mail">
              <div class="floating-icon"></div>
              <div class="floating-input">
                <input type="email"  name="mail"  id="mail" placeholder="Email address" required>
                <div class="clean-input" onclick="mail.value = ''"></div>
              </div>
            </div>
            <div class="floating-block border-hover pass">
              <div class="floating-icon"></div>
              <div class="floating-input">
                <input  type="password" placeholder="Password" name="password" id="password" required>
                <div class="clean-input" onclick="password.value = ''"></div>
              </div>
              <div class="pass-forget" onclick="if(password.type=='text'){password.type='password'; this.innerHTML = 'Show'} else {password.type='text';  this.innerHTML = 'Hide'}">Show</div>
            </div>
            <div class="pass-caption">At least 6 symbols. Use characters and digits.</div>
            <div class="profile-type">Profile: <span>Citizen</span></div>
            <div class="checkbox-wrapper">
              <div class="checkbox">
                <input type="checkbox" name="checkbox" id="checkbox" required/>
                <label for="checkbox"></label>
              </div>
              <p onclick="checkbox.checked = !checkbox.checked">
                Pushing button below, you agree with <a href="">Terms</a> and
                <a href="">Conditions</a> and for your personal data processing.
              </p>
            </div>
            <button class="orange-button blue-button">Create account</button>
            <div class="authorisation-page__caption">
              Also you can create account using  <a href="">Facebook</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

