
<app-header-general></app-header-general>


<main>
  <section class="page-title">
    <div class="container">
      <div class="row">
        <h2>Registration</h2>
      </div>
    </div>
  </section>
  <section class="registration-page">
    <div class="container">
      <div class="row">
        <div class="col col-md-9 ml-md-auto mr-md-auto">
          <form #user_registrationForm="ngForm" novalidate>
            <div class="wrapper-half-input">
              <div class="floating-block border-hover user">
                <div class="floating-icon"></div>
                <div class="floating-input">
                  <input type="text" placeholder="First name" required
                         #firstName="ngModel" id="firstName" name='firstName' [(ngModel)]="registration.firstName" />
                  <div class="clean-input" (click)="regFirstNameClear()"></div>
                </div>
              </div>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" placeholder="Last name" required
                         #lastName="ngModel" id="lastName" name='lastName' [(ngModel)]="registration.lastName" />
                  <div class="clean-input" (click)="regLastNameClear()"></div>
                </div>
              </div>
            </div>
            <div class="floating-block border-hover phone">
              <div class="floating-icon"></div>
              <div class="floating-input">
                <input type="text" placeholder="Phone number" required
                       #phone="ngModel" id="phone" name='phone' [(ngModel)]="registration.phone" />
                <div class="clean-input" (click)="regPhoneClear()"></div>
              </div>
            </div>
            <div class="floating-block border-hover mail">
              <div class="floating-icon"></div>
              <div class="floating-input">
                <input type="email" placeholder="Email address" required email
                       #email="ngModel" id="email" name='email' [(ngModel)]="registration.email" />
                <div class="clean-input" (click)="regMailClear()"></div>
              </div>
            </div>
            <div class="floating-block border-hover pass">
              <div class="floating-icon"></div>
              <div class="floating-input">
                <input  type="password" placeholder="Password" required
                        #password="ngModel" id="password" name='password' [(ngModel)]="registration.password" />
                <div class="clean-input" (click)="regPswClear()"></div>
              </div>
              <div class="pass-forget" onclick="if(password.type=='text'){password.type='password'; this.innerHTML = 'Show'} else {password.type='text';  this.innerHTML = 'Hide'}">Show</div>
            </div>
            <div class="pass-caption">At least 6 symbols. Use characters and digits.</div>
            <div class="profile-type">Profile: <span>Citizen</span></div>
            <div class="checkbox-wrapper">
              <div class="checkbox">
                <input type="checkbox" name="checkbox" required #checkbox id="checkbox"
                       [(ngModel)]="registration.agreeTermsAndConditions"/>
                <!--[value]="periode.booleanValue"-->
                <label for="checkbox"></label>
              </div>
              <p onclick="checkbox.checked = !checkbox.checked">
                Pushing button below, you agree with
                <a href="javascript:void(0);" [routerLink]="['/terms-conditions']">Terms and Conditions</a>
                and for your personal data processing.
              </p>
            </div>
            <button class="orange-button blue-button"
                    (click)="registrationSubmitFunction()"
                    type="submit"
                    [disabled]="!(user_registrationForm.form.valid && registration.agreeTermsAndConditions)">Create account</button>
            <div class="authorisation-page__caption">
              Also you can create account using  <a href="javascript:void(0);">Facebook</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

