@import "../../../../assets/sass/_variables.scss";


.registration-page {
  text-align: center;
  .pass-caption {
    color: $content;
    font-size: 1.4rem;
    font-family: $raleR;
    text-align: center;
  }
  .blue-button {
    max-width: 360px;
    width: 100%;
  }
  form {
    padding: 40px 0;
  }
  .profile-type {
    color: $content;
    font-size: 1.4rem;
    font-family: $raleM;
    padding: 25px 0;
    span {
      color: $blue;
    }
  }
}

#selectCountry {
  color: #121212;
  min-height: 50px;
  font-family: $sf;
  font-size: 16px;
  width: 100%;
  padding-left: 25px;
  height: 50px;
  border: none;
  border-bottom: 2px solid #e6e5e5;
  width: calc(100% - 55px);
}



//////////////////

.dargent {
  .row {
    justify-content: center;
    > div {
      padding: 0;

    }
  }
  &__wrapper {
    background-color: #fff;
    .content {
      padding: 17px 20px;
    }
    .blue-button {
      width: 100%;
      margin-top: 13px;
    }
    input {
      padding-left: 0;
      min-height: 40px;
      height: 40px;
      line-height: 40px;
    }
    .clean-input {
      top: -5px;
    }
    h4 {
      font-family: $raleSM;
      font-size: 16px;
    }
    .help {
      color: #414141;
      font-size: 12px;
      display: block;
      line-height: 17px;
      margin-bottom: 6px;
      b {
        color: #bababa;
      }
    }
    .floating-block {
      align-items: flex-end;
    }
    .currency {
      color: #c2c2c2;
      font-size: 1.4rem;
      font-family: $raleSM;
      margin-left: 10px;
      line-height: 35px;
      text-transform: uppercase;
      border-bottom: 2px solid #e6e5e5;
    }
  }
  .consult-user {
    background-color: #f7f7ff;
    i {
      display: none;
    }
    &.active,
    &:hover {
      background-color: #fff;
      i {
        display: block;
      }
    }
  }
}

@media (max-width: 800px) {
  #selectCountry {
    width: 100%;
    height: 74px;
    min-height: 74px;
    font-size: 24px;
    padding-left: 13px;
  }
  .registration-page {
    form {
      padding: 0;
    }
    .pass-caption {
      font-size: 1.9rem;
      text-align: right;
    }
    .blue-button {
      max-width: 100%;
    }
    .profile-type {
      font-size: 24px;
    }
    .floating-block.pass {

    }
  }

}

@media (max-width: 576px) {
  #selectCountry {
    height: 37px;
    min-height: 37px;
    font-size: 12px;
    padding-left: 5px;
  }
  .registration-page {
     .pass-caption {
      font-size: 9.5px;
    }
    .profile-type {
      font-size: 14px;
      padding: 15px 0;
    }
  }
}