<main class="gray-bg-citizen coin-bg">
    <section class="virements-multiples">
        <div class="container">
            <h3>Virements multiples</h3>
            <div class="row">
                <div class="col-sm-12 col-md-8 ml-auto mr-auto">
                    <div class="virements-multiples__item">
                        <div class="virements-multiples__header">
                            Contract<span>BD012345678910</span>
                            <div class="blue-angle">Chose</div>
                        </div>
                        <div class="row">
                            <div class="col-6 virements-multiples__search">
                                <div class="search-wrapper">
                                    <input type="text" placeholder="Search">
                                </div>
                                <div class="search__user">
                                    <div>
                                        <span class="logo" style="background-image: url('/assets/img/user.png')"></span>
                                        <div>
                                            <div>Elizabeth Swann</div>
                                            <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>121 (360) 985-15</span>
                                        </div>
                                    </div>
                                    <div class="circle-check"></div>
                                </div>
                                <div class="search__user active">
                                    <div>
                                        <span class="logo" style="background-image: url('/assets/img/user.png')"></span>
                                        <div>
                                            <div>Elizabeth Swann</div>
                                            <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>121 (360) 985-15</span>
                                        </div>
                                    </div>
                                    <div class="circle-check"></div>
                                </div>
                                <div class="search__user">
                                    <div>
                                        <span class="logo" style="background-image: url('/assets/img/user.png')"></span>
                                        <div>
                                            <div>Elizabeth Swann</div>
                                            <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>121 (360) 985-15</span>
                                        </div>
                                    </div>
                                    <div class="circle-check"></div>
                                </div>
                                <div class="virements-multiples__footer">
                                    <div>Unselect All</div>
                                    <div>Select All</div>
                                </div>
                                <div class="virements-multiples__user">
                                    <div>
                                        <span class="logo" style="background-image: url('/assets/img/user.png')"></span>
                                        <div>
                                            <div>Elizabeth Swann</div>
                                            <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>121 (360) 985-15</span>
                                        </div>
                                    </div>
                                    <div class="money">580.00 <span>usd</span></div>
                                    <div class="cancel">Cancel</div>
                                </div>
                                <div class="virements-multiples__footer add-more">
                                    <div>+ Add more</div>
                                </div>
                            </div>
                            <div class="col-6 virements-multiples__amount">
                                <h3>Amount</h3>
                                <div class="floating-block border-hover">
                                    <div class="floating-input">
                                        <input id="amount" name="amount" placeholder="Type here" required="" type="text">
                                        <div class="clean-input" onclick="amount.value = ''"></div>
                                    </div>
                                    <div class="currency">Usd</div>
                                </div>
                                <button class="orange-button blue-button">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 30px"> <!--Delete margin-->
                <div class="col-sm-12 col-md-8 ml-auto mr-auto">
                    <div class="virements-multiples__choose">
                        <div class="virements-multiples__header">
                            Сhose contracts
                            <div class="blue-angle">Chose</div>
                        </div>
                        <div class="virements-multiples__choose-item">
                            <div>
                                Contract ID
                                <span>BD012345678910</span>
                            </div>
                            <div class="circle-check"></div>
                        </div>
                        <div class="virements-multiples__choose-item active">
                            <div>
                                Contract ID
                                <span>BD012345678910</span>
                            </div>
                            <div class="circle-check"></div>
                        </div>
                        <div class="virements-multiples__choose-item">
                            <div>
                                Contract ID
                                <span>BD012345678910</span>
                            </div>
                            <div class="circle-check"></div>
                        </div>
                        <div class="virements-multiples__footer">
                            <div>OK</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
