<div *ngIf="transactions_all.length > 10" class="pagination_custom">

  <div class="orange-angle left-angle">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
  </div>

  <div id="page_1" class="pagination_item page_active">{{page_1}}</div>

  <span *ngIf="(page_current - page_1)>1">...</span>

  <div id="page_current" *ngIf="page_current && (page_1 !== page_current)" class="pagination_item">{{page_current}}</div>

  <span *ngIf="(page_last - page_current)>1">...</span>

  <div id="page_last" *ngIf="page_last && (page_last !== page_current)" class="pagination_item" (click)="nextPageFunction()">{{page_last}}</div>

  <div class="orange-angle right-angle">
    <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
  </div>
</div>
