<main class="gray-bg-citizen coin-bg">
  <section class="depot-sitizen">
    <div class="container">
      <h3>Depot citizen</h3>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="block__header">
            <div>Insert receiver’s information</div>
            <div>Citizen</div>
          </div>
          <div class="content">
            <h3>Select citizen’s account</h3>
            <div class="floating-block border-hover">
              <div class="floating-input">
                <input id="firstname" name="firstname" placeholder="Type here" required="" type="text">
                <div class="clean-input" onclick="firstname.value = ''"></div>
              </div>
            </div>
            <div class="help">It seems we don’t have this number in the citizen database.
              <span>New account will be created.</span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="block__header">
            <span>New</span>
            <div class="blue-angle">Change</div>
          </div>
          <div class="content">
            <h3>Firstname</h3>
            <div class="floating-block border-hover">
              <div class="floating-input">
                <input id="firstname" name="firstname" placeholder="Type here" required="" type="text">
              </div>
            </div>
            <h3>Lastname</h3>
            <div class="floating-block border-hover">
              <div class="floating-input">
                <input id="lastname" name="lastname" placeholder="Type here" required="" type="text">
                <div class="clean-input" onclick="lastname.value = ''"></div>
              </div>
            </div>
            <h3>ID</h3>
            <div class="floating-block border-hover">
              <div class="floating-input">
                <input id="id" name="id" placeholder="Type here" required="" type="text">
                <div class="clean-input" onclick="id.value = ''"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 blue-button__wrapper">
          <button class="orange-button blue-button">Send</button>
        </div>
      </div>
      <!--Delete margin from this block-->
      <div class="row" style="margin-top: 30px;">
        <div class="col-md-6 col-lg-4">
          <div class="block__header">
            <div>Insert receiver’s information</div>
            <div>Citizen</div>
          </div>
          <div class="content search">
            <div class="search-wrapper">
              <input type="text" placeholder="Search">
            </div>
            <div class="search__user">
              <div>
                <span class="logo" style="background-image: url('/assets/img/user.png')"></span>
                <div>
                  <div>Elizabeth Swann</div>
                  <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>121 (360) 985-15</span>
                </div>
              </div>
              <div class="circle-check"></div>
            </div>
            <div class="search__user active">
              <div>
                <span class="logo" style="background-image: url('/assets/img/user.png')"></span>
                <div>
                  <div>Elizabeth Swann</div>
                  <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>121 (360) 985-15</span>
                </div>
              </div>
              <div class="circle-check"></div>
            </div>
            <div class="new-acc">
              <span>
              The citizen’s account you’re looking for
              is not in the system? <span class="create">Create it now.</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="block__header">
            <span>Lex Luthor</span>
            <div class="blue-angle">Change</div>
          </div>
          <div class="content amount">
            <div class="amount-wrapper">
              <h3>Amount</h3>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input id="amount" name="amount" placeholder="Type here" required="" type="text">
                  <div class="clean-input" onclick="amount.value = ''"></div>
                </div>
                <div class="currency">Usd</div>
              </div>
            </div>
            <div class="button-wrapper">
              <button class="orange-button blue-button">Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
