@import "../../../../../assets/sass/variables";

.depot-sitizen {
  .blue-button__wrapper {
    background-color: #fff;
    .blue-button {
      width: 100%;
      max-width: 335px;
      display: block;
      height: 55px;
      min-height: 55px;
      line-height: 55px;
      margin: 0 auto 20px;
    }
  }
  .help {
    font-size: 12px;
    line-height: 18px;
    span {
      color: #bababa;
    }
  }
  .row {
    justify-content: center;
    > div {
      padding: 0;
      background-color: #fff;
    }
  }
  .block__header {
    display: flex;
    justify-content: space-between;
    span {
      color: #636363;
      font-family: $raleL;
      padding-left: 10px;
    }
  }
  .amount {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .content {
    padding: 18px;
    &.search {
      padding: 0;
    }
    h3 {
      text-align: left;
      font-size: 1.6rem;
      font-family: $raleSM;
      padding: 0;
    }
    .floating-block input {
      padding-left: 0;
      height: 40px;
      min-height: 40px;
    }
    .blue-button {
      width: 100%;
    }
    .new-acc {
      padding: 15px 0;
      text-align: center;
      color: #a1a1a1;
      font-size: 14px;
      font-family: $raleM;
      line-height: 25px;
      border-top: 2px solid $lightGrayBg;
      .create {
        color: #0095fd;
        cursor: pointer;
      }
      > span {
        display: block;
        margin: 0 auto;
        max-width: 250px;
      }
    }
    .amount-wrapper {
      .currency {
        color: #c2c2c2;
        font-size: 1.4rem;
        font-family: $raleSM;
        margin-left: 10px;
        line-height: 35px;
        text-transform: uppercase;
        border-bottom: 2px solid #e6e5e5;
      }
      .floating-block {
        align-items: flex-end;
      }
    }
  }
  .right-drop {
    display: block;
    right: auto;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .floating-block .orange-angle {
    height: 40px;
    line-height: 40px;
  }
}

@media (max-width: 800px) {
  .depot-sitizen {
    font-size: 18px;
    .help {
      font-size: 18px;
    }
    .content {
      padding: 20px;
      padding-bottom: 24px !important;
      h3 {
        font-size: 22px;
        line-height: 30px;
      }
      .amount-wrapper {
        .currency {
          font-size: 22px;
          margin-left: 10px;
          line-height: 74px;
        }
      }
    }
    .amount {
      padding: 0;
    }
    .blue-button__wrapper .blue-button {
      height: 103px;
      line-height: 103px;
      max-width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .depot-sitizen {
    font-size: 14px;
    .help {
      font-size: 14px;
    }
    .content {
      padding: 10px;
      h3 {
        font-size: 14px;
        line-height: 20px;
      }
      .amount-wrapper {
        .currency {
          font-size: 15px;
          margin-left: 5px;
          line-height: 30px;
        }
      }
    }
    .blue-button__wrapper .blue-button {
      height: 50px;
      line-height: 50px;
    }
  }
}
