<main class="gray-bg-citizen">
  <section class="services agent">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-md-auto mr-md-auto services__wrapper">
          <div class="services__own">
            <div class="services__item withdrawal" [routerLink]="['/'+userRole+'/services/virements-multiples']">
              <div class="services__icon"></div>
              <div>Virements multiples</div>
            </div>
            <div class="services__item manage" [routerLink]="['/'+userRole+'/services/paiements']">
              <div class="services__icon"></div>
              <div>Paiements de masses recus </div>
            </div>
            <div class="services__item transfer" [routerLink]="['/'+userRole+'/services/transfer-dargent']">
              <div class="services__icon"></div>
              <div>Transfert d’Argent </div>
            </div>
            <div class="services__item depot" [routerLink]="['/'+userRole+'/services/transfer-compte']">
              <div class="services__icon"></div>
              <div>Transfert Compte à Compte </div>
            </div>
            <div class="services__item user" [routerLink]="['/'+userRole+'/services/consultation-solde']">
              <div class="services__icon"></div>
              <div>Consultation Solde</div>
            </div>
            <div class="services__item list" [routerLink]="['/'+userRole+'/services/consultation-operations']">
              <div class="services__icon"></div>
              <div>Consultation Operations </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
