<header class="aut-header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 aut-header__logo">
        <a href="/"><img src="../img/logo.png" alt="cashTransfer"></a>
      </div>
      <div class="col-md-6 ml-md-auto nav-center">
        <a href="">About us </a>
        <a href="">Terms & Conditions </a>
        <a href="">FAQ</a>
        <a href="">Privacy policy</a>
        <a href="">Cancellation & Refund </a>
      </div>
      <div class="col-md-2 ml-md-auto aut-header__user">
        <span class="logo" style="background-image: url('../img/logo.png')"></span><span>Username</span>
      </div>
    </div>
    <div class="row toolbar">
      <div class="col-md-10 ml-md-auto mr-md-auto">
        <a href="" class="sprite-icon-services"><span class="sprite"></span><span>Services</span></a>
        <a href="" class="sprite-icon-notif"><span class="sprite"></span><span>Notifications</span></a>
        <a href="" class="sprite-icon-operation"><span class="sprite"></span><span>Operations</span></a>
        <a href="" class="sprite-icon-param"><span class="sprite"></span><span>Parameters</span></a>
        <a href="" class="sprite-icon-user"><span class="sprite"></span><span>Settings</span></a>
      </div>
    </div>
  </div>
</header>
<main class="gray-bg-citizen coin-bg">
  <section class="transfers-to-bank">
    <div class="container">
      <h3>Virements vers Banque</h3>
      <div class="row">
        <div class="col">
          <div class="transfers-to-bank__header">
            Saisie ordre de virement format SICA-UEMOA
          </div>
          <form>
            <div>
              <h4>Référence de l’opération</h4>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" name="operationReference" id="operationReference" placeholder="Type here" required>
                  <div class="clean-input" onclick="operationReference.value = ''"></div>
                </div>
              </div>
              <h4>Compte</h4>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" name="Account" id="Account" placeholder="Type here" required>
                  <div class="clean-input" onclick="Account.value = ''"></div>
                </div>
              </div>
              <h4>Nom du client destinataire</h4>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" name="recipient" id="recipient" placeholder="Type here" required>
                  <div class="clean-input" onclick="recipient.value = ''"></div>
                </div>
              </div>
            </div>
            <div>
              <h4>Banque</h4>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" name="Bank" id="Bank" placeholder="Type here" required>
                  <div class="clean-input" onclick="Bank.value = ''"></div>
                </div>
              </div>
              <h4>Clé RIB</h4>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" name="RIB" id="RIB" placeholder="Type here" required>
                  <div class="clean-input" onclick="RIB.value = ''"></div>
                </div>
              </div>
            </div>
            <div>
              <h4>Guichet</h4>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" name="Counter" id="Counter" placeholder="Type here" required>
                  <div class="clean-input" onclick="Counter.value = ''"></div>
                </div>
              </div>
              <h4>Montant du virement</h4>
              <div class="floating-block border-hover">
                <div class="floating-input">
                  <input type="text" name="Amount" id="Amount" placeholder="Type here" required>
                  <div class="clean-input" onclick="Amount.value = ''"></div>
                </div>
              </div>
            </div>
          </form>
          <button class="blue-button orange-button">Valider l’ordre</button>
        </div>
      </div>
    </div>
  </section>
</main>
