<main class="gray-bg-citizen coin-bg">
    <section class="consult-oper">
        <div class="container">
            <h3>Consultation operations</h3>
            <div class="row">
                <div class="col-md-6 col-lg-4 consult-oper__wrapper">
                    <div class="consult-oper__header">Chose account</div>
                    <div class="accordionWrapper">
                        <div *ngFor="let operation of userDataGlossary.myAccounts" class="accordionItem close-item"
                             (click)="commonServices.accordionToggleItemFunction($event); $event.stopPropagation()">
                            <div class="consult-user accordionItemHeading">
                                <div class="logo"
                                     style="background-image: url('../../../../../assets/img/user.png')"></div>
                                <div>
                                    <div>{{operation.firstName}} {{operation.lastName}}</div>
                                    <div>Email: <span class="mail">{{operation.email}}</span></div>
                                </div>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordionItemContent" (click)="$event.stopImmediatePropagation()">
                                <button class="orange-button blue-button" (click)="showTransactionsFunction()">
                                  Send a request
                                </button>
                            </div>
                        </div>
                    </div>
                </div>



                <div *ngIf="showTransactions" class="col-md-6 col-lg-4 consult-sold-history">
                    <div class="little-title">Latest transactions</div>
                    <div *ngFor="let tr of userDataGlossary.myTransactions" class="consult__item">
                        <div>
                            <span>Receiver: <span class="name">{{tr.firstName}} {{tr.lastName}}</span></span>
                            <span class="profit">{{tr.direction}}{{tr.amount}}<span class="curr">{{tr.currency}}</span></span>
                        </div>
                        <div>
                            <span>{{tr.date}}</span>
                            <span>{{tr.tyme}}</span>
                        </div>
                    </div>
                    <!--<div class="consult__item">-->
                        <!--<div>-->
                            <!--<span>Receiver: <span class="name">Clark Kent</span></span>-->
                            <!--<span class="lesion">-123.49<span class="curr">USD</span></span>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<span>11.12.2017</span>-->
                            <!--<span>11:12</span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </section>

</main>
