@import "../../../../../assets/sass/variables";


.consult-oper {
  .row {
    justify-content: center;
  }
  &__wrapper {
    padding: 0 !important;
    font-size: 1.4rem;
    color: $mainText;
    //background-color: #fff;
    margin-bottom: 60px;
  }
  &__header {
    color: $mainText;
    background-color: #fff;
    font-size: 1.4rem;
    font-family: $sf;
    padding: 17px 21px 3px 21px;
    border-bottom: 2px solid $lightGrayBg;
  }
  .accordionItemHeading {
    justify-content: flex-start;
  }
  .accordionItem.close-item {
    max-height: 65px;
  }
  .accordionItemHeading {
    height: 65px;
    line-height: 65px;
  }
}

.consult-sold-history {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 0;
  &:before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background-color: $lightGrayBg;
    position: absolute;
    left: 0;
    top: 0;
  }
  .wrapper {
    padding: 0;
    background-color: #fff;
  }
  .balance {
    color: #2c2c2c;
    font-size: 1.4rem;
    font-family: $raleM;
    b {
      color: #0095fd;
      font-family: $sf;
      font-size: 1.8rem;
      padding-right: 10px;
    }
  }
  .card-data {
    display: flex;
    span {
      color: #aaaaaa;
      height: 20px;
      font-size: 1.4rem;
      font-family: $raleM;
      padding-right: 10px;
      &:not(:last-child) {
        line-height: 30px;
      }
    }
  }
  .little-title.history {
    color: #8a8a8a;
    border-bottom: 2px solid $lightGrayBg;
  }
}

.consult__item {
  margin: 0 0 0 10px;
  font-size: 1.4rem;
  font-family: $raleM;
  padding: 18px 15px 18px 25px;
  border-bottom: 2px solid $lightGrayBg;
  position: relative;
  &:before {
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #00a9f2;
    position: absolute;
    left: 7px;
    top: 15%;
    font-size: 2.7rem;
  }
  > div {
    display: flex;
    justify-content: space-between;
  }
  .profit {
    color: #00a9f2;
    font-size: 1.8rem;
    font-family: $sf;
  }
  .lesion {
    color: #ff0000;
    font-size: 1.8rem;
    font-family: $sf;
  }
  .curr {
    color: #b9b9b9;
    padding-left: 10px;
    font-family: $raleM;
    font-size: 1.4rem;
  }
}

.accordionWrapper .accordionItemHeading {
   border-bottom: none;
}

.accordionItem {
  background-color: #f7f7ff;
  i {
    display: none;
  }
  &.open,
  &:hover {
    background-color: #fff;
    i {
      display: block;
    }
  }
  &.send-request,
  &:hover {
    background-color: #fff;
    i {
      display: block;
    }
  }

}

.accordionItem close-item send-request{
  background-color: #fff;
  i {
    display: block;
  }
}


@media (max-width: 575px) {
  main {
    section{
      .container{
        .row{
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}
