@import "../../../../../assets/sass/variables";


.about-us {
  padding: 20px 0;
  color: $mainText;
  background-color: $lightGrayBg;
  &__content.col {
    font-size: 1.4rem;
    padding: 10px 0 30px;
    max-width: 685px;
    background-color: #fff;
    margin: 0 auto;
    > div {
      padding: 0 70px 0;
      &:last-child {
        border-top: 1px solid $lightGrayBg;
      }
    }
    h3 {
      font-size: 1.8rem;
      font-family: $raleSM;
      padding: 15px 0;
      text-align: center;
    }
    p {
      color: $content;
      font-family: $raleR;
      line-height: 20px;
      margin-bottom: 24px;
    }
    b {
      font-family: $raleSM;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 20px;
    a {
      font-family: $raleBold;
      color: $blue;
      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }
}

@media (max-width: 800px) {
  .about-us {
    padding: 0;
    background-color: #fff;
    &__content.col {
      font-size: 27px;
      padding: 0;
      max-width: 100%;
      > div {
        padding: 0;
      }
      h3 {
        padding: 50px 0;
        font-size: 30px;
        text-align: left;
      }
      p {
        line-height: 45px;
        margin: 45px 0;
      }
    }
    &__links {
      line-height: 50px;
      a {
        white-space: inherit;
      }
    }
  }
}


@media (max-width: 576px) {
  .about-us {
    &__content.col {
      font-size: 13.5px;
      h3 {
        padding: 25px 0;
        font-size: 15px;
      }
      p {
        line-height: 22.5px;
        margin: 22.5px 0;
      }
    }
    &__links {
      line-height: 25px;
    }
  }
}