<footer>
  <div class="container">
    <div class="row footer">
      <div>© All rights reserved. 2017</div>
      <div>
        <a href="javascript:void(0);" [routerLink]="['/']">
          <img src="../../../../assets/img/innov4africa.png" alt="logo">
        </a>
      </div>
      <div class="footer__social">
        Recomend us
        <a href="javascript:void(0);" title="Twitter">
                        <span class="fa-stack fa-lg tw">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
        </a>
        <a href="javascript:void(0);" title="Facebook">
                        <span class="fa-stack fa-lg fb">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
        </a>
      </div>
    </div>
  </div>
</footer>
