@import "../../../../assets/sass/_variables.scss";


footer {
  border-top: 1px solid $line;
  .container,
  .row {
    height: 100%;
  }
}
.footer {
  color: $footer;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $raleR;
  &__social {
    a {
      padding-left:10px;
    }
    .fb {
      .fa-circle {
        color: $fb;
      }
    }
    .tw {
      .fa-circle {
        color: $tw;
      }
    }
  }
}
