<form #agent_envoyeurDataId="ngForm" novalidate>
  <div class="content" style="padding-bottom: 0">
    <h3 style="margin-top: 16px">Firstname</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (change)="sendData()"
               #firstName="ngModel" id="firstName" name='firstName' required [(ngModel)]="envoyeur.nom" />
        <div class="clean-input" (click)="clearEnvoyeur('nom')"></div>
      </div>
    </div>
    <h3>Lastname</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (change)="sendData()"
               #lastName="ngModel" id="lastName" name='lastName' required [(ngModel)]="envoyeur.prenom" />
        <div class="clean-input" (click)="clearEnvoyeur('prenom')"></div>
      </div>
    </div>
    <h3>Cellulaire</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (change)="sendData()"
               #id_telephone="ngModel" id="id_telephone" name='id_telephone' required [(ngModel)]="envoyeur.cellulaire" />
        <div class="clean-input" (click)="clearEnvoyeur('cellulaire')"></div>
      </div>
    </div>
    <h3>ID type</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (change)="sendData()"
               #id_type="ngModel" id="id_type" name='id_type' required [(ngModel)]="envoyeur.id_type" />
        <div class="clean-input" (click)="clearEnvoyeur('id_type')"></div>
      </div>
    </div>
    <h3>ID valeur</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (change)="sendData()"
               #id_valeur="ngModel" id="id_valeur" name='id_valeur' required [(ngModel)]="envoyeur.id_valeur" />
        <div class="clean-input" (click)="clearEnvoyeur('id_valeur')"></div>
      </div>
    </div>
    <h3>ID debut</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (change)="sendData()"
               #id_debut="ngModel" id="id_debut" name='id_debut' required [(ngModel)]="envoyeur.id_debut" />
        <div class="clean-input" (click)="clearEnvoyeur('id_debut')"></div>
      </div>
    </div>
    <h3>ID fin</h3>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" placeholder="Type here" (change)="sendData()"
               #id_fin="ngModel" id="id_fin" name='id_fin' required [(ngModel)]="envoyeur.id_fin" />
        <div class="clean-input" (click)="clearEnvoyeur('id_fin')"></div>
        <!--(click)="clearEnvoyeur('id_fin')"-->
      </div>
    </div>
  </div>
</form>
