<main class="gray-bg-citizen">
  <section class="services agent">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-md-auto mr-md-auto services__wrapper">
          <div class="services__own">
            <div class="services__item transfer" [routerLink]="['/agent/services/depot-citizen']">
              <div class="services__icon"></div>
              <div>Depot Citizen</div>
            </div>
            <div class="services__item depot" [routerLink]="['/agent/services/depot-client']">
              <div class="services__icon"></div>
              <div>Depot Client</div>
            </div>
            <div class="services__item withdrawal" [routerLink]="['/agent/services/retrait-code']">
              <div class="services__icon"></div>
              <div>Retrait Code</div>
            </div>
            <div class="services__item manage" [routerLink]="['/agent/services/manage-admin-citizen']">
              <div class="services__icon"></div>
              <div>Manage Admin Citizen</div>
            </div>
          </div>
          <div class="services__own">
            <div class="services__item transfer" [routerLink]="['/agent/services/transfer-dargent']">
              <div class="services__icon"></div>
              <div>Transfert d’Argent </div>
            </div>
            <div class="services__item depot" [routerLink]="['/agent/services/transfer-compte']">
              <div class="services__icon"></div>
              <div>Transfert Compte à Compte </div>
            </div>
            <div class="services__item user" [routerLink]="['/agent/services/consultation-solde']">
              <div class="services__icon"></div>
              <div>Consultation Solde</div>
            </div>
            <div class="services__item list" [routerLink]="['/agent/services/consultation-operations']">
              <div class="services__icon"></div>
              <div>Consultation Operations </div>
            </div>
            <div class="services__item geo" [routerLink]="['/agent/services/geolocalisation-agent']">
              <div class="services__icon"></div>
              <div>Geolocalisation agent </div>
            </div>
            <div class="services__item coin" [routerLink]="['/agent/services/virements-vers-bank']">
              <div class="services__icon"></div>
              <div>Virements vers Banque </div>
            </div>
            <div class="services__item cards" [routerLink]="['/agent/services/bank-to-wallet']">
              <div class="services__icon"></div>
              <div>Bank to Wallet</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
