<main>
    <section class="share-mobile">
        <h2 class="top-header">
            <div class="back-button">Back</div>
            Share
        </h2>
        <h3 class="share-mobile__h3">Recommend us</h3>
        <div>Using Facebook or Twitter</div>
        <ul>
            <li class="facebook"><a href="">
                        <span class="fa-stack fa-lg tw">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                Facebook
            </a></li>
            <li class="twitter"><a href="">
                        <span class="fa-stack fa-lg fb">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                Twitter
            </a></li>
        </ul>
    </section>
</main>
