<main class="gray-bg-citizen coin-bg">
  <section class="geo-agent">
    <p *ngIf="geoloading" style="position: fixed; top: 50%; left: 50%; z-index:10000; height: 17.5px">
      <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </p>
    <h3 class="top-header">
      <div class="back-button" [routerLink]="['/' +userRole+ '/services']">Back</div>
      Geolocalisation agent</h3>
    <div class="container">

      <div class="row">
        <div *ngIf="status_agentsMarkers" class="col-sm-12 col-md-12 col-lg-10">

          <app-g-map [myCoordonnees]="myCoord"
                     [lat]="latitude"
                     [lng]="longitude"

                     [activeAgent]="activeAgent"
                     (onAgentsMarkersAdded)="setAgentsMarkersFunction($event)"></app-g-map>

        </div>
        <div *ngIf="agentsMarkers && agentsMarkers.length" class="col-sm-12 col-md-12 col-lg-2">

          <div>
            <button id="startScan" class="orange-button blue-button"
                    (touchend)="startGettingMyCoordTouch()">My Coordonees</button>
            <!--(click)="_startGettingMyCoord()"-->
            <div id="geolocation" style="color: red"></div>
          </div>

          <div *ngFor="let agent of agentsMarkers" class="search__user active" (click)="gotoAgentLocation(agent, $event)">
          <!--<div class="search__user active">-->
            <div>
              <span class="logo" style="background-image: url('../../../../../assets/img/user.png')"></span>
              <div>
                <div>{{agent.nom}}</div>
                <span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>{{agent.telephone}}</span>
              </div>
            </div>
            <div class="chat">
              <img src="../../../../../assets/img/icon-chat.png" alt="Chat">
              Chat message
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
