@import "../../../../../assets/sass/variables";

.geo-agent {
  .row {
    justify-content: center;
    > div {
      padding: 0;
    }
  }
  .map-img {
    width: 100%;
  }
  .search__user {
    position: relative;
    background-color: #f7f7ff;
    margin: 0;
    padding: 0 0 0 10px;
    // icon for chat
    //&.active,
    //&:hover {
    //  background-color: #fff;
    //  .chat {
    //    display: block;
    //  }
    //}
    .chat {
      display: none;
      position: absolute;
      right: 15px;
      top: 50%;
      font-size: 14px;
      color: #00a1ff;
      text-align: center;
      cursor: pointer;
      transform: translateY(-50%);
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 800px){
  main {
    padding: 43px 0 76px !important;
  }
  #startScan{
    width: 100%;
  }
}
@media (max-width: 576px){
  main {
    padding: 43px 0 76px !important;
  }
}
@media (max-width: 410px){
  main {
    padding: 43px 0 47px !important;
  }
}
