<!--<div class="content">-->
  <h3>Select client’s account</h3>

  <ng-select2 [(ngModel)]="beneficiary_fromSelect2"
              [data]="userDataService.getReceiversForSelect2()"
              [placeholder]="'Please select...'"
              (valueChanged)="setBeneficiaryFunction($event)">
  </ng-select2>

  <div class="new-acc" style="padding-bottom: 0">
                  <span>
                    The client’s account you’re looking for is not in the system?
                    <span class="create">Create it now.</span>
                  </span>
  </div>

  <!--<div class="floating-block border-hover">-->
  <!--Need to hide this item when input empty, when input have value: show angle, onclick angle show right drop -->
  <!--<div class="orange-angle" style="display: block;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>-->
  <!--<div class="floating-input">-->
  <!--<input id="firstname1" name="firstname1" placeholder="Type here" required="" type="text" [(ngModel)]="receiverToFind">-->
  <!--</div>-->
  <!--Right drop for show-->
  <!--<div *ngIf="false" class="right-drop" style="display: block;">-->
  <!--<div class="right-drop__item">-->
  <!--<div class="logo" style="background-image: url('../../../../../assets/img/user.png')"></div>-->
  <!--<div>-->
  <!--Clark Kenwood-->
  <!--<span><i class="fa fa-phone" aria-hidden="true"></i>380 (050) 000-00-00</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="right-drop__item">-->
  <!--<div class="logo" style="background-image: url('../../../../../assets/img/user.png')"></div>-->
  <!--<div>-->
  <!--Clark Kenwood-->
  <!--<span><i class="fa fa-phone" aria-hidden="true"></i>380 (050) 000-00-00</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="right-drop__item">-->
  <!--<div class="logo" style="background-image: url('../../../../../assets/img/user.png')"></div>-->
  <!--<div>-->
  <!--Clark Kenwood-->
  <!--<span><i class="fa fa-phone" aria-hidden="true"></i>380 (050) 000-00-00</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div *ngIf="receivers.length" class="content search">-->
  <!--<div  *ngFor="let client of userDataService.getClients()" #{{receiver.id_receiver}} id="{{client.id_account}}"-->
  <!--class="search__user" (click)="commonServices.defineReceiversFunction($event); setBeneficiaryFunction(client)">-->
  <!--<div>-->
  <!--<span class="logo" style="background-image: url('../../../../../assets/img/user.png')"></span>-->
  <!--<div>-->
  <!--<div>{{client.nom}} {{client.prenom}}</div>-->
  <!--<span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>{{client.numTel}}</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="circle-check"></div>-->
  <!--</div>-->

  <!-- *** M U L T I P L E   S E L E C T *** -->
  <!--<div  *ngFor="let myAccount of userDataService.getMyAccounts()" #{{receiver.id_receiver}} id="{{myAccount.id_account}}"-->
  <!--class="search__user" (click)="commonServices.defineReceiversFunction($event)">-->
  <!--<div>-->
  <!--<span class="logo" style="background-image: url('../../../../../assets/img/user.png')"></span>-->
  <!--<div>-->
  <!--<div>{{myAccount.nom}} {{myAccount.prenom}}</div>-->
  <!--<span class="tel"><i class="fa fa-phone" aria-hidden="true"></i>{{myAccount.login}}</span>-->
  <!--</div>-->
  <!--</div>-->
  <!--<div class="circle-check"></div>-->
  <!--</div>-->


  <!--</div>-->

<!--</div>-->
