@import "../../../../assets/sass/variables";

select{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  padding-left: 0;
  font-family: $raleR;
  font-size: 1.4rem;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid $orange;
  option{
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 14px;
    margin-top: 20px;
  }
}

.container{
  padding: 0 15px 0 15px !important;
  margin-bottom: 0 !important;
}

@media (max-width: 800px){
  main {
    padding: 89px 0 0;
    h3.top-header{
      padding: 26px 0 12px 0;
    }
    .transfers-to-bank .container{
      margin-bottom: 0 !important;
    }
  }
}
@media (max-width: 576px){
  main {
    padding: 43px 0 0 !important;
    .transfers-to-bank .container{
      margin-bottom: 0 !important;
    }
  }
}
