<header class="unaut-header">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="javascript:void(0);" [routerLink]="['/']">
          <img src="../../../../../assets/img/logo.png" alt="cashTransfer">
        </a>
      </div>

      <div class="col-md-8 nav-left">
        <a href="javascript:void(0);" routerLinkActive="link-active" [routerLink]="['/about-us']">About us </a>
        <a href="javascript:void(0);" routerLinkActive="link-active" [routerLink]="['/terms-conditions']">Terms & Conditions</a>
        <a href="javascript:void(0);" routerLinkActive="link-active" [routerLink]="['/faq']">FAQ</a>
        <a href="javascript:void(0);" routerLinkActive="link-active" [routerLink]="['/privacy-policy']">Privacy policy</a>
        <a href="javascript:void(0);" routerLinkActive="link-active" [routerLink]="['/cancellation']">Cancellation & Refund</a>
      </div>
      <div class="col-md-2 ml-md-auto aut-header__user pull-right">
        <span class="logo" style="background-image: url('../../../../../assets/img/logo.png')"></span>
        <span>Username</span>
      </div>

    </div>
  </div>

  <app-user-menu></app-user-menu>

</header>
