@import "../../../../../assets/sass/variables";


select{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  padding-left: 0;
  font-family: $raleR;
  font-size: 1.4rem;
  height: 40px;
  min-height: 40px;
  line-height: 40px;
  border: none;
  border-bottom: 2px solid $orange;
  option{
    height: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 14px;
    margin-top: 20px;
  }
}
