<div *ngIf="beneficiaries && beneficiaries.length">
  <div>
    <h4>Nom Bénéficiaire</h4>
    <select name="selectCompte" [(ngModel)]="activeSelect"  (change)="showNextBeneficiary(activeSelect)" id="selectCompte">
      <option *ngFor="let benef of beneficiaries" [value]="benef.id">
        {{benef.nom}}
      </option>
    </select>

    <h4>Banque</h4>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" name="Bank" id="Bank" readonly="true" [ngModel]="_beneficiary.banque"/>
      </div>
    </div>
  </div>

  <div>
    <h4>Guichet</h4>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" name="Counter" id="Counter" readonly="true" [ngModel]="_beneficiary.guichet"/>
      </div>
    </div>

    <h4>Compte</h4>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" name="Account" id="Account" readonly="true" [ngModel]="_beneficiary.compte"/>
      </div>
    </div>
  </div>

  <div>
    <h4>Clé RIB</h4>
    <div class="floating-block border-hover">
      <div class="floating-input">
        <input type="text" name="RIB" id="RIB" readonly="true" [ngModel]="_beneficiary.rib"/>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!(beneficiaries && beneficiaries.length)">
  <br>
  <h4>Vous n'avez encore aucun beneficiaries enregistré. Crée les.</h4>
  <br><br>
</div>
