<main class="gray-bg-citizen">
  <section class="services agent">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-md-auto mr-md-auto services__wrapper">
          <div class="services__own">
            <div class="services__item transfer">
              <div class="services__icon"></div>
              <div>Transfert d’Argent </div>
            </div>
            <div class="services__item depot">
              <div class="services__icon"></div>
              <div>Transfert Compte à Compte </div>
            </div>
            <div class="services__item user">
              <div class="services__icon"></div>
              <div>Consultation Solde</div>
            </div>
            <div class="services__item list">
              <div class="services__icon"></div>
              <div>Consultation Operations </div>
            </div>
            <div class="services__item geo">
              <div class="services__icon"></div>
              <div>Geolocalisation agent </div>
            </div>
            <div class="services__item coin">
              <div class="services__icon"></div>
              <div>Virements vers Banque </div>
            </div>
            <div class="services__item cards">
              <div class="services__icon"></div>
              <div>Bank to Wallet</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
