@import "../../../../../assets/sass/variables";

.services {
  padding: 45px 0 60px;
  &__wrapper {
    padding: 0 45px;
  }
  &__own {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__item {
    font-size: 1.2rem;
    color: #595959;
    flex-basis: 25%;
    min-width: 25%;
    height: 145px;
    background-color: #fff;
    border-right: 2px solid #efeff5;
    border-bottom: 2px solid #efeff5;
    cursor: pointer;
    text-align: center;
    &:hover {
      color: #fff;
    }
    &:last-child {
      border-right: none;
    }
    &:hover {
      background-color: $orange;
    }
  }
  &__icon {
    width: 70px;
    height: 70px;
    margin: 20px auto 5px;
    background-repeat: no-repeat;
    background-image: url('../../../../../assets/img/menu.png');
  }
}


$size: 90;
$menu-icons: 'cards', 'coin', 'depot', 'geo', 'list', 'manage', 'transfer', 'user', 'withdrawal';
@for $i from 0 to length($menu-icons) {
  .services__item.#{nth($menu-icons, $i+1)} .services__icon {
    background-position: (-10px - 2*$i*$size) -10px;
  };
  .services__item.#{nth($menu-icons, $i+1)}:hover .services__icon {
    background-position: (-10px - (2*$i+1)*$size) -10px;
  }
}

@media (max-width: 800px) {
  .services {
    padding: 20px 0;
    background-color: #efeff5;
    min-height: 100vh;
    &__wrapper {
      padding: 0 15px;
    }
    &__item {
      flex-basis: 33.33%;
      min-width: 33.33%;
      &:last-child {
        border-right: 2px solid #efeff5;
      }
    }
  }
}

@media (max-width: 567px) {
  .services {
    &__wrapper {
      padding: 0 7.5px;
    }
    &__item {
      flex-basis: 50%;
      min-width: 50%;
      height: 125px;
      padding: 0 5px;
    }
    &__icon {
      transform: scale(.8);
      margin: 5px auto;
    }
  }
}