@import "assets/bootstrap-sass/variables";
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


@import "assets/sass/_reset.scss";
@import "assets/sass/_fonts.scss";
@import "assets/sass/_variables.scss";


// Common
@import "assets/sass/_header.scss";
@import "assets/sass/_footer.scss";


a {
  white-space: nowrap;
}

a:focus,
a:hover {
  text-decoration: none !important;
}
// For footer at bottom of page

html {
  height: 100%;
  font-size: 62.5% !important;
}

body {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

body:after {
  content: '';
  display: block;
  height: 100px;
}

main {
  overflow: overlay;
  background-color: #f1f1f3;
  min-height: calc(100vh - 350px);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.page-title {
  text-align: center;
  border-bottom: 1px solid $line;
  background-color: #fff;
  h2 {
    width: 100%;
    padding: 30px 0;
    font-size: 2.4rem;
    font-family: $sf;
  }
}

.little-title {
  color: $mainText;
  font-size: 1.4rem;
  font-family: $sf;
  padding: 17px 21px 3px 21px;
  border-bottom: 2px solid $lightGrayBg;
}

.orange-button {
  color: #fff;
  min-height: 50px;
  line-height: 60px;
  min-width: 165px;
  font-size: 1.6rem;
  font-family: $raleSM;
  border: none;
  border-radius: 5px;
  background-color: $orange;
  cursor: pointer;
}

.blue-button {
  background-color: $blue;
}

.wrapper-half-input {
  display: flex;
  .floating-block {
    width: calc(50% - 5px);
    &:last-child {
      margin-left: 10px;
    }
  }
}

.floating-block {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  .floating-input {
    width: 100%;
    position: relative;
    input {
      color: #121212;
      min-height: 50px;
      font-family: $sf;
      font-size: 16px;
      width: 100%;
      padding-left: 25px;
      height: 50px;
      border: none;
      border-bottom: 2px solid #e6e5e5;
      &:focus,
      &:not(:focus):valid {
        padding-top: 20px;
      }
      &:focus ~ .floating-label,
      &:not(:focus):valid ~ .floating-label {
        top: 10px;
        font-size: 1.2rem;
        color: $orange;
      }
    }
  }
  .floating-label {
    font-family: $raleM;
    position: absolute;
    pointer-events: none;
    left: 25px;
    top: 13px;
    transition: 0.3s ease all;
    font-size: 16px;
  }
  .floating-icon {
    width: 55px;
    height: 100%;
    display: inline-block;
    min-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #e6e5e5;
    + .floating-input {
      display: inline-block;
      width: calc(100% - 55px);
    }
  }
  &.phone {
    .floating-icon {
      background-image: url('/assets/img/icon-phone.png');
    }
  }
  &.pass {
    .floating-icon {
      background-image: url('/assets/img/icon-pass.png');
    }
  }
  &.user {
    .floating-icon {
      background-image: url('/assets/img/icon-user2.png');
    }
  }
  &.mail {
    .floating-icon {
      background-image: url('/assets/img/icon-mail.png');
    }
  }
  .pass-forget {
    color: $blue;
    position: absolute;
    right: 24px;
    line-height: 50px;
    font-family: $raleSM;
    font-size: 1.2rem;
    cursor: pointer;
  }
  &.border-hover {
    .clean-input {
      display: none;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('/assets/img/icon-close.png');
    }
    .floating-input {
      input {
        color: #414141;
        padding-top: 0 !important;
        &:focus,
        &:not(:focus):valid {
          border-bottom: 2px solid $orange;
          transition: .3s ease all;
          + .clean-input {
            display: block;
          }
        }
      }
    }
    &.pass {
      .floating-input {
        input {
          &:focus,
          &:not(:focus):valid {
            + .clean-input {
              display: block;
              right: 40px;
            }
          }
        }
      }
    }
  }
}

.gray-bg-citizen {
  background-color: $coin;
  &.coin-bg {
    background-image: url('/assets/img/bg-coin.png');
    background-repeat: no-repeat;
    background-position: 0 90%;
  }
  h3 {
    font-size: 1.8rem;
    color: $mainText;
    font-family: $sf;
    padding: 26px 0;
    text-align: center;
    margin-bottom: 0;
  }
}

input[type=radio] {
  visibility: hidden;
}
input[type=radio]:checked + label:after {
  opacity: 1;
}
.onoffswitch {
  position: relative;
  width: 35px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
  display: inline-block;
  &-checkbox {
    display: none;
  }
  &-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 20px;
    padding: 0;
    line-height: 20px;
    border-radius: 20px;
    background-color: #efeff5;
    transition: background-color 0.3s ease-in;
    &:before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      margin: 0px;
      background: #FFFFFF;
      position: absolute;
      top: 1px;
      bottom: 0;
      right: 14px;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #3FA7F4;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #3FA7F4;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
}
