<main class="gray-bg-citizen coin-bg">
  <section class="consult-sold">
    <h3 class="top-header" >
      <div *ngIf="choseAccount_mode" class="back-button" [routerLink]="['/' +userRole+ '/services']">Back</div>
      <div *ngIf="showQRCode_mode" class="back-button" (click)="goto_choseAccount_mode()">Back</div>
      <div *ngIf="confirmation_mode" class="back-button" (click)="goto_showQRCode_mode()">Back</div>
      QR code
    </h3>
      <div class="col-sm-12 col-md-6 col-lg-4 ml-auto mr-auto">
        <div class="compte__wrapper">
          <!--<div class="container">-->

            <div *ngIf="choseAccount_mode">
              <div >
                <!--<div class="col-sm-8 col-md-6 col-lg-4">-->
                <div class="dargent__wrapper">
                  <div class="block__header">Choose your account</div>
                  <div *ngFor="let myAccount of userDataService.getMyAccounts()" class="consult-user"
                       (click)="fillReceiverInfoFunction(myAccount, $event); $event.stopPropagation()">
                    <!--<div class="logo" style="background-image: url('../../../../assets/img/user.png')"></div>-->
                    <div class="logo" style="background-image: url('/../../../../assets/img/user.png')"></div>
                    <div>
                      <div>{{myAccount.nom}} {{myAccount.prenom}}, {{myAccount.login}}</div>
                      <div *ngIf="myAccount.email!==''" style="display: inline-block">Email: <span>{{myAccount.email}}.</span></div>
                      <div style="display: inline-block">{{myAccount.type}}, <span></span></div>
                      <div style="display: inline-block"> id {{myAccount.id_account}}.<span></span></div>
                    </div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>


            <div *ngIf="showQRCode_mode">
              <div class="container">
                <div style="text-align: center">
                  <h3 style="padding: 8px 0 8px 0">My QR Code:</h3>
                  <p>
                    <qr-code [value]="'' + receiver_idAccount + ';' + receiver_nomPrenom" [size]="150"></qr-code>
                  </p>
                </div>

                <div class="compte__amount only-desktop">
                  <h4>Mes données sont: id = {{receiver_idAccount}}, {{myAccount.nom}} {{myAccount.prenom}}.</h4>
                </div>

                <div class="compte__amount only-desktop" style="display: none">
                  <h4>Scannez le QR code pour me payer et mettez le ici</h4>
                  <div class="floating-block border-hover">
                    <div class="floating-input" style="margin-bottom: 0">
                      <input id="beneficiaryFromQR" name="beneficiaryFromQR" required type="text"
                             [(ngModel)]="beneficiaryFromQR_idAccount" min="0"
                             (keyup.enter)='submitTransferCompteFunction()'
                             onkeydown="return ( event.ctrlKey || event.altKey
                                                                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                                                                    || (95<event.keyCode && event.keyCode<106)
                                                                    || (event.keyCode===8) || (event.keyCode===9)
                                                                    || (event.keyCode>34 && event.keyCode<40)
                                                                    || (event.keyCode===46) || (event.keyCode===110))"/>
                      <div class="clean-input" (click)="clearBeneficiaryFromQR()"></div>
                    </div>
                  </div>
                </div>

                <div class="only-mobile">
                  <p style="position: relative">
                    <button id="startScan" class="orange-button" (touchend)="startScan()">Scannez le QR code pour me payer</button>
                  </p>
                </div>

                <br>
                <div class="compte__amount">
                  <h4>Amount</h4>
                  <div class="floating-block border-hover">
                    <div class="floating-input" style="margin-bottom: 0">
                      <input id="amountFacture" name="amountFacture" placeholder="00.00" required type="text"
                             [(ngModel)]="amountToReceiver" min="0.01"
                             (keyup.enter)='submitTransferCompteFunction()'
                             onkeydown="return ( event.ctrlKey || event.altKey
                                                                    || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                                                                    || (95<event.keyCode && event.keyCode<106)
                                                                    || (event.keyCode===8) || (event.keyCode===9)
                                                                    || (event.keyCode>34 && event.keyCode<40)
                                                                    || (event.keyCode===46) || (event.keyCode===110))"/>
                      <div class="clean-input" (click)="clearAmount()"></div>
                    </div>
                    <div class="currency">{{currencyParams.curXOF()}}</div>
                  </div>
                </div>

                <div *ngIf="errorMessage" class="errorTextClass" >{{errorMessage}}</div>
                <p *ngIf="!errorMessage" style="margin: 0; text-align: center; height: 17.5px">
                  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </p>

                <button class="orange-button blue-button only-mobile" type="submit" style="margin-top: 4px"
                        [disabled]="!(beneficiaryFromQR_idAccount && (+amountToReceiver >= 0.01))"
                        (click)="goto_confirmation_mode()">Send
                </button>
                <!--[disabled]="!(beneficiaryFromQR_idAccount && (+amountToReceiver >= 0.01))"-->
              </div>
            </div>

            <div *ngIf="confirmation_mode">
              <div class="container">
                <div class="compte__amount">
                  <h4>Voulez vous vraiment envoyer <span style="color: tomato">{{amountToReceiver}}</span> {{currencyParams.curXOF()}}
                    to {{beneficiaryFromQR_nomPrenom}}?
                  </h4>
                </div>
                <div style="margin-top: 26px; text-align: center">
                  <button class="orange-button blue-button only-mobile" type="submit" style="margin-top: 4px"
                          [disabled]="!(beneficiaryFromQR_idAccount && (+amountToReceiver >= 0.01))"
                          (click)="submitTransferCompteFunction()">Send
                  </button>
                </div>
              </div>
            </div>

        <!--</div>-->
      </div>
    </div>
  </section>

  <app-success-message [message_firstLine]="successMessage_1" [message_secondLine]="successMessage_2"></app-success-message>

</main>

