
<app-header-general></app-header-general>

<main>
  <div class="main-slider">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 ml-md-auto main-slider__content">
          <h2>Lorem ipsum dolor sit amet consectetur</h2>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.
          </div>
          <div class="main-slider__footer">
            <button class="orange-button" [routerLink]="['/create-account']">Create account</button>
            <span>Already have account?</span>
            <a href="javascript:void(0);" [routerLink]="['/authorisation']">Sign In</a>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="/assets/img/image-pc.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="main-intro">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="main-intro__item">
            <img src="../../../../assets/img/intro1.png" alt="Fast cash transactions">
            <h3>Fast cash transactions</h3>
            <div>Lorem ipsum dolor sit amet,
              consectetur adipiscing tempor
              incididunt ut labore aliqua.
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="main-intro__item">
            <img src="../../../../assets/img/intro2.png" alt="200% safe with us">
            <h3>200% safe with us</h3>
            <div>Lorem ipsum dolor sit amet,
              consectetur adipiscing tempor
              incididunt ut labore aliqua.
            </div>
          </div>
        </div>
        <div class="ml-sm-auto mr-sm-auto col-sm-6 col-md-4">
          <div class="main-intro__item">
            <img src="../../../../assets/img/intro3.png" alt="Always with you">
            <h3>Always with you</h3>
            <div>Lorem ipsum dolor sit amet,
              consectetur adipiscing tempor
              incididunt ut labore aliqua.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>