<div *ngIf="myself && myself.nom.length>0">
  <sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

    <sebm-google-map-marker [latitude]="lat"
                            [longitude]="lng"
                            [title]="'ME !'"
                            [iconUrl]="marker_myself"
                            [zoom]="zoom">

      <sebm-google-map-info-window>
        <a class="map_content" (click)="markerClicked(myself)">
          <img src="{{myself.iconUrl}}" alt="">
          <div>
            <h3>{{myself.nom}}</h3>
            <p><i class="fa fa-phone" aria-hidden="true"></i>{{myself.telephone}}</p>
          </div>
        </a>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-google-map-marker *ngFor="let m of markers"
                            [latitude]="m.latitude"
                            [longitude]="m.longitude"
                            [title]="m.nom"
                            [iconUrl]="marker_agent">

      <sebm-google-map-info-window>
        <a class="map_content" (click)="markerClicked(m)">
          <img src="{{m.iconUrl}}" alt="">
          <div>
            <h3>{{m.nom}}</h3>
            <p><i class="fa fa-phone" aria-hidden="true"></i>{{m.telephone}}</p>
          </div>
        </a>
      </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
</div>
