// Fonts

@font-face {
  font-family: "SFUID";
  src: url("./assets/fonts/SFUID/SFUIDisplay-Semibold.eot");
  src: url("./assets/fonts/SFUID/SFUIDisplay-Semibold.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/SFUID/SFUIDisplay-Semibold.woff") format("woff"),
  url("./assets/fonts/SFUID/SFUIDisplay-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "sfuidL";
  src: url("./assets/fonts/SFUIDisplay-Light/SFUIDisplay-Light.eot");
  src: url("./assets/fonts/SFUIDisplay-Light/SFUIDisplay-Light.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/SFUIDisplay-Light/SFUIDisplay-Light.woff") format("woff"),
  url("./assets/fonts/SFUIDisplay-Light/SFUIDisplay-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayRegular";
  src: url("./assets/fonts/RalewayRegular/RalewayRegular.eot");
  src: url("./assets/fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
  url("./assets/fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayThin";
  src: url("./assets/fonts/RalewayThin/RalewayThin.eot");
  src: url("./assets/fonts/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewayThin/RalewayThin.woff") format("woff"),
  url("./assets/fonts/RalewayThin/RalewayThin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayExtraLight";
  src: url("./assets/fonts/RalewayExtraLight/RalewayExtraLight.eot");
  src: url("./assets/fonts/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
  url("./assets/fonts/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayLight";
  src: url("./assets/fonts/RalewayLight/RalewayLight.eot");
  src: url("./assets/fonts/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewayLight/RalewayLight.woff") format("woff"),
  url("./assets/fonts/RalewayLight/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayMedium";
  src: url("./assets/fonts/RalewayMedium/RalewayMedium.eot");
  src: url("./assets/fonts/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewayMedium/RalewayMedium.woff") format("woff"),
  url("./assets/fonts/RalewayMedium/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewaySemiBold";
  src: url("./assets/fonts/RalewaySemiBold/RalewaySemiBold.eot");
  src: url("./assets/fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
  url("./assets/fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBold";
  src: url("./assets/fonts/RalewayBold/RalewayBold.eot");
  src: url("./assets/fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewayBold/RalewayBold.woff") format("woff"),
  url("./assets/fonts/RalewayBold/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayExtraBold";
  src: url("./assets/fonts/RalewayExtraBold/RalewayExtraBold.eot");
  src: url("./assets/fonts/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
  url("./assets/fonts/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RalewayBlack";
  src: url("./assets/fonts/RalewayBlack/RalewayBlack.eot");
  src: url("./assets/fonts/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
  url("./assets/fonts/RalewayBlack/RalewayBlack.woff") format("woff"),
  url("./assets/fonts/RalewayBlack/RalewayBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
