// Text colors
$blue: #4ca0ff;
$blueBright: #00a1ff;
$orange: #e98120;
$grayText: #555555;
$fb: #3b5998;
$tw: #26a6d1;
$footer: #aaafb4;
$mainText: #414141;
$content: #5e5e5e;
$red: #ed4f4f;

// Background
$lightBg: #ecf5fd;
$lightGrayBg: #f1f1f3;
$coin: #efeff5;

$line: #e7e7e9;

// Fonts
$raleSM: 'RalewaySemiBold', sans-serif;
$raleR: 'RalewayRegular', sans-serif;
$raleL: 'RalewayLight', sans-serif;
$raleBlack: "RalewayBlack", sans-serif;
$raleBold: "RalewayBold", sans-serif;
$raleM: "RalewayMedium", sans-serif;
$sf: "SFUID", sans-serif;
$sfL: "sfuidL", sans-serif;
